* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Das ist der Lebensretter! */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./img/wpbackground.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gameContainer{
    width: 350px;
    height: 500px;
    perspective: 1000px;
}

.cardLayoutRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: auto;
}

.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.card.animationFlip{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 500ms;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.card.animationFlipBack{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 500ms;
    transform-style: preserve-3d;
    transform: rotateY(-360deg);
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.gameContainer:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);

}

.cardFront,
.cardBack{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.5);
    position: absolute;
    backface-visibility: hidden;
}

.cardBack{
    background-color: rgb(193, 179, 146);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 5px rgb(123, 108, 75) solid;
}

.cardFront{
    background-image: url("./img/card back.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 5px rgb(123, 108, 75) solid;
}


#nextCard,
#previousCard{
    cursor: pointer;        /* Makes it look clickable */
    user-select: none;      /* Prevents text highlighting on click */
    font-size: 40px;        /* Increases arrow size for better visuals */
    color: black;           /* Stands out against the background gradient */
    transition: 0.25s;
}

#nextCard:hover,
#previousCard:hover{
    transform: scale(1.2);
    text-shadow: 10px 10px 10px rgba(50, 50, 50, 0.5);

}

#flip:hover{
    color: beige;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
}

#next:hover{
    color: beige;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
}

#newCard{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#addCardButton{
    background-color: dodgerblue;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

#addCardButton:hover{
    color: beige;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
}

#resetCardsButton{
    background-color: dodgerblue;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

#resetCardsButton:hover{
    color: beige;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
}

.userInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#newCardQuestion{
    font-size: 20px;
    background: rgba(0, 0, 0, 0.49);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(0, 0, 0, 1);
    color: white;
}

#newCardAnswer{
    background: rgba(0, 0, 0, 0.49);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: 20px;
    color: white;
}

::placeholder {
    color: white;
    opacity: 80%; /* Firefox */
}

#newCardAnswer:hover{
    background-color: lightgray;
}

#resetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#resetCardsButton{
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}
#resetCardsButton:hover{
    color: beige;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
}