body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;
    border: 10px solid mediumseagreen;

    width: 400px;
    height: 500px;
    margin: auto;

    background-color: darkseagreen;
    -webkit-box-shadow: 9px 5px 26px 3px rgba(0,0,0,0.41);
    box-shadow: 9px 5px 26px 3px rgba(0,0,0,0.41);
}

#questionAnswer{
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}

#buttonsGame{
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin-top: auto;
    margin-bottom: 20px;
}

#flip{
    background-color: dodgerblue;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

#next{
    background-color: dodgerblue;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;

}

#flip:hover{
    color: beige;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
}

#next:hover{
    color: beige;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
}

#newCard{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#addCardButton{
    background-color: dodgerblue;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

#addCardButton:hover{
    color: beige;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
}

#resetCardsButton{
    background-color: dodgerblue;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

#resetCardsButton:hover{
    color: beige;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
}

.userInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

#newCardQuestion{
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
}

#newCardQuestion:hover{
    background-color: lightgray;
}

#newCardAnswer{
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
}

#newCardAnswer:hover{
    background-color: lightgray;
}

#resetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#resetCardsButton{
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}
#resetCardsButton:hover{
    color: beige;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.64);
}